body{
    font-family: 'Raleway', sans-serif;
}
#ContentBannerHome h1{
    text-align: center;
    font-size: 100px;
    font-family: 'Raleway', sans-serif;
}
#ContentBannerHome p{
    text-align: center;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
#ContentBannerHome{
    color:white; 
    position: absolute; 
    margin-top: 200px;
}
#aboutMeRow{
    margin-top: 70px;
}
#skillsRow{
    margin-top: 85px;
}
#servicesRow{
    margin-top: 30px;
}
#servicesRow{
    margin-top: 30px;
}
#Card{
    margin-top: 30px;
    margin-bottom: 30px;
}